.pokemon-info-container {
    padding: 25px;

    h3 {
        color: #aaaaaa;
        margin: 0;
    }

    h1 {
        color: #333333;
        margin: 0;
        text-transform: capitalize;
    }

    img {
        display: block;
        margin: 0 auto;
    }
}
